<p>
  <b>Name:</b>
  <%=h @venue.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @venue.location %>
</p>

<p>
  <b>Date:</b>
  <%=h @venue.date %>
</p>

<b>Results:</b>
<table>
  <tr>
	<th>Position</th>
    <th>Name</th>
    <th>Team</th>
    <th>Race Time</th>
    <th>Points</th>
  </tr>

<% @venue.classifications.each do |c| %>
  <tr>
	<td>-</td>
    <td><%=h c.driver.name %></td>
    <td><%=h c.driver.team.name %></td>
    <td><%=h c.time.to_formatted_s(:time_with_ms) %>.<%=h c.time_ms %></td>
	<td>-</td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>