<h1>Editing classification</h1>

<% form_for(@classification) do |f| %>
  <%= f.error_messages %>

  <p>
	<%=
	  @venues = Venue.find(:all, :order => "name")
	  collection_select("classification", "venue_id", @venues, :id, :name )
	%>
  </p>
  <p>
	<%=
	  @drivers = Driver.find(:all, :order => "name")
	  collection_select("classification", "driver_id", @drivers, :id, :name )
	%>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.time_select :time, :include_seconds => true %>
    <%= f.text_field :time_ms %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @classification %> |
<%= link_to 'Back', classifications_path %>