<h1>New classification</h1>

<% form_for(@classification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :venue_id %><br />
    <%= f.text_field :venue_id %>
  </p>
  <p>
    <%= f.label :driver_id %><br />
    <%= f.text_field :driver_id %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', classifications_path %>