<p>
  <b>Venue:</b>
  <%=h @classification.venue_id %>
</p>

<p>
  <b>Driver:</b>
  <%=h @classification.driver_id %>
</p>

<p>
  <b>Time:</b>
  <%=h @classification.time.to_formatted_s(:time_with_ms) %>.<%=h classification.time_ms %>
</p>


<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>