<p>
  <b>Venue:</b>
  <%=h @classification.venue.name %>
</p>

<p>
  <b>Driver:</b>
  <%=h @classification.driver.name %>
</p>

<p>
  <b>Time:</b>
  <%=h @classification.time.to_formatted_s(:time_with_ms) %>.<%=h @classification.time_ms %>
</p>


<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>